<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h2>Jokes:</h2>
<ul>
<% @user.jokes.each do |joke| %>
  <li><%= joke.description %></li>
<% end %>
</ul>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
